# Byte-compiled / optimized & DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/

# Saved face images {user data}
face_data/

# VSCode settings folder
.vscode/

# Logs
*.log
