# Byte-compiled / optimized & DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/

# Images, trained models and datasets
face_data/

# VSCode settings folder
.vscode/

# Logs
*.log

# Temporary files
app_structure.txt

